In [1]:
from plot_utils import collect_lightning_logs

In [2]:
df = collect_lightning_logs()

to_hide = ['final_epoch', 'best_valid_acc']
groups = df.groupby(["dataset", "strategy"])
# print("Groups:", list(groups.groups.keys()))

for name, group in groups:
    # drop unwanted columns before displaying (do not modify original df)
    group_to_show = group.drop(columns=[c for c in to_hide if c in group.columns])
    print(f"\n== {name} ({len(group)} rows) ==")
    display(group_to_show)

== ('cifar10', 'CPE') (17 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
7,version_108,cifar10,CPE,F,llava_kmean=10_nrand=4,10.086167,42
65,version_179,cifar10,CPE,F,llava_kmean=10_nrand=4,77.607995,42
67,version_180,cifar10,CPE,F,llava_kmean=10_nrand=4,78.575945,1126
68,version_181,cifar10,CPE,F,llava_kmean=10_nrand=4,78.887290,2202
69,version_182,cifar10,CPE,I,llava_kmean=10_nrand=4,75.228631,42
70,version_183,cifar10,CPE,I,llava_kmean=10_nrand=4,76.322383,1126
71,version_184,cifar10,CPE,I,llava_kmean=10_nrand=4,75.379133,2202
72,version_185,cifar10,CPE,T,llava_kmean=10_nrand=4,76.001263,42
73,version_186,cifar10,CPE,T,llava_kmean=10_nrand=4,78.322041,1126
74,version_187,cifar10,CPE,T,llava_kmean=10_nrand=4,78.077900,2202
105,version_57,cifar10,CPE,F,as_setup1,0.861788,42
109,version_60,cifar10,CPE,F,as_setup2,0.844514,42
110,version_61,cifar10,CPE,F,as_setup3,0.845588,42
111,version_64,cifar10,CPE,F,as_setup4,0.874236,42
130,version_88,cifar10,CPE,T,as_setup3,83.959103,42
131,version_89,cifar10,CPE,T,as_setup3,84.445089,1126
133,version_90,cifar10,CPE,T,as_setup3,85.478514,2202

== ('cifar10', 'FWD') (8 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
20,version_138,cifar10,FWD,NL,llava_kmean=10_nrand=4,77.753907,42
23,version_140,cifar10,FWD,NL,llava_kmean=10_nrand=4,77.753907,42
25,version_142,cifar10,FWD,NL,llava_kmean=10_nrand=4,79.180259,1126
28,version_145,cifar10,FWD,NL,llava_kmean=10_nrand=4,79.433024,2202
97,version_49,cifar10,FWD,NL,as_setup1,0.862374,42
100,version_52,cifar10,FWD,NL,as_setup2,0.846846,42
103,version_55,cifar10,FWD,NL,as_setup3,0.849288,42
112,version_65,cifar10,FWD,F,as_setup4,0.873943,42

== ('cifar10', 'URE') (6 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
29,version_146,cifar10,URE,TNN,llava_kmean=10_nrand=4,40.560088,42
30,version_147,cifar10,URE,TNN,llava_kmean=10_nrand=4,42.871094,1126
31,version_148,cifar10,URE,TNN,llava_kmean=10_nrand=4,45.097086,2202
32,version_149,cifar10,URE,TGA,llava_kmean=10_nrand=4,10.058594,42
34,version_150,cifar10,URE,TGA,llava_kmean=10_nrand=4,40.895566,1126
35,version_151,cifar10,URE,TGA,llava_kmean=10_nrand=4,50.399244,2202

== ('cifar100', 'CPE') (21 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
2,version_101,cifar100,CPE,T,uniform,4.574908,1126
3,version_102,cifar100,CPE,T,uniform,2.645910,2202
46,version_161,cifar100,CPE,F,llava_kmean=100_nrand=4,43.978629,1126
47,version_162,cifar100,CPE,F,llava_kmean=100_nrand=4,43.677622,42
48,version_163,cifar100,CPE,F,llava_kmean=100_nrand=4,45.434284,2202
49,version_164,cifar100,CPE,I,llava_kmean=100_nrand=4,34.167048,42
50,version_165,cifar100,CPE,I,llava_kmean=100_nrand=4,33.876380,1126
51,version_166,cifar100,CPE,I,llava_kmean=100_nrand=4,34.042969,2202
52,version_167,cifar100,CPE,T,llava_kmean=100_nrand=4,44.615123,42
53,version_168,cifar100,CPE,T,llava_kmean=100_nrand=4,43.980929,1126
54,version_169,cifar100,CPE,T,llava_kmean=100_nrand=4,44.439340,2202
85,version_26,cifar100,CPE,F,uniform,0.073403,1126
86,version_27,cifar100,CPE,I,uniform,0.040631,2202
87,version_28,cifar100,CPE,I,uniform,0.037310,42
88,version_29,cifar100,CPE,F,uniform,0.051815,42
89,version_30,cifar100,CPE,I,uniform,0.041831,1126
90,version_31,cifar100,CPE,F,uniform,0.051160,2202
127,version_85,cifar100,CPE,T,as_setup3,54.551929,42
128,version_86,cifar100,CPE,T,as_setup3,56.617075,1126
129,version_87,cifar100,CPE,T,as_setup3,52.641314,2202
139,version_99,cifar100,CPE,T,uniform,4.499081,42

== ('cifar100', 'FWD') (6 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
8,version_11,cifar100,FWD,NL,uniform,0.073392,1126
13,version_12,cifar100,FWD,NL,uniform,0.052792,42
14,version_13,cifar100,FWD,NL,uniform,0.054199,2202
36,version_152,cifar100,FWD,NL,llava_kmean=100_nrand=4,44.299746,1126
37,version_153,cifar100,FWD,NL,llava_kmean=100_nrand=4,44.191179,42
38,version_154,cifar100,FWD,NL,llava_kmean=100_nrand=4,45.942098,2202

== ('cifar100', 'URE') (12 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
0,version_10,cifar100,URE,TNN,uniform,0.013258,2202
22,version_14,cifar100,URE,TNN,uniform,0.014223,1126
33,version_15,cifar100,URE,TGA,uniform,0.010110,1126
39,version_155,cifar100,URE,TNN,llava_kmean=100_nrand=4,10.175207,42
40,version_156,cifar100,URE,TNN,llava_kmean=100_nrand=4,8.357077,1126
41,version_157,cifar100,URE,TNN,llava_kmean=100_nrand=4,10.218290,2202
42,version_158,cifar100,URE,TGA,llava_kmean=100_nrand=4,1.002413,42
43,version_159,cifar100,URE,TGA,llava_kmean=100_nrand=4,1.002413,1126
44,version_16,cifar100,URE,TNN,uniform,0.014126,42
45,version_160,cifar100,URE,TGA,llava_kmean=100_nrand=4,1.019646,2202
55,version_17,cifar100,URE,TGA,uniform,0.010622,42
66,version_18,cifar100,URE,TGA,uniform,0.010185,2202

== ('cifar20', 'CPE') (27 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
1,version_100,cifar20,CPE,T,uniform,18.991843,2202
9,version_110,cifar20,CPE,F,llava_kmean=20_nrand=4,5.020681,42
56,version_170,cifar20,CPE,F,llava_kmean=20_nrand=4,46.047220,42
57,version_171,cifar20,CPE,F,llava_kmean=20_nrand=4,47.039866,1126
58,version_172,cifar20,CPE,F,llava_kmean=20_nrand=4,46.171305,2202
59,version_173,cifar20,CPE,I,llava_kmean=20_nrand=4,38.550669,42
60,version_174,cifar20,CPE,I,llava_kmean=20_nrand=4,37.933135,1126
61,version_175,cifar20,CPE,I,llava_kmean=20_nrand=4,38.133043,2202
62,version_176,cifar20,CPE,T,llava_kmean=20_nrand=4,44.553080,42
63,version_177,cifar20,CPE,T,llava_kmean=20_nrand=4,45.696807,1126
64,version_178,cifar20,CPE,T,llava_kmean=20_nrand=4,45.694509,2202
79,version_20,cifar20,CPE,I,uniform,0.144210,1126
80,version_21,cifar20,CPE,I,uniform,0.133789,42
81,version_22,cifar20,CPE,I,uniform,0.160283,2202
82,version_23,cifar20,CPE,F,uniform,0.220985,2202
83,version_24,cifar20,CPE,F,uniform,0.207301,1126
84,version_25,cifar20,CPE,F,uniform,0.201011,42
104,version_56,cifar20,CPE,F,as_setup1,0.618986,42
106,version_58,cifar20,CPE,F,as_setup3,0.675626,42
107,version_59,cifar20,CPE,F,as_setup2,0.669118,42
114,version_67,cifar20,CPE,F,as_setup4,0.709203,42
121,version_73,cifar20,CPE,F,as_setup4,0.707071,42
134,version_91,cifar20,CPE,T,as_setup3,64.743227,42
135,version_92,cifar20,CPE,T,as_setup3,69.536418,1126
136,version_93,cifar20,CPE,T,as_setup3,68.139362,2202
137,version_97,cifar20,CPE,T,uniform,19.280790,42
138,version_98,cifar20,CPE,T,uniform,16.579159,1126

== ('cifar20', 'FWD') (11 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
15,version_133,cifar20,FWD,NL,llava_kmean=20_nrand=4,47.306988,42
16,version_134,cifar20,FWD,NL,llava_kmean=20_nrand=4,47.989431,1126
17,version_135,cifar20,FWD,NL,llava_kmean=20_nrand=4,47.752759,2202
93,version_4,cifar20,FWD,NL,uniform,0.199764,42
98,version_5,cifar20,FWD,NL,uniform,0.218313,2202
99,version_50,cifar20,FWD,NL,as_setup1,0.615091,42
101,version_53,cifar20,FWD,NL,as_setup2,0.671232,42
102,version_54,cifar20,FWD,NL,as_setup3,0.676103,42
108,version_6,cifar20,FWD,NL,uniform,0.207657,1126
113,version_66,cifar20,FWD,F,as_setup4,0.708812,42
122,version_74,cifar20,FWD,F,as_setup4,0.706486,42

== ('cifar20', 'URE') (11 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
18,version_136,cifar20,URE,TNN,llava_kmean=20_nrand=4,19.034353,42
19,version_137,cifar20,URE,TNN,llava_kmean=20_nrand=4,17.274241,1126
21,version_139,cifar20,URE,TNN,llava_kmean=20_nrand=4,15.683019,2202
24,version_141,cifar20,URE,TGA,llava_kmean=20_nrand=4,5.046530,42
26,version_143,cifar20,URE,TGA,llava_kmean=20_nrand=4,5.046530,1126
27,version_144,cifar20,URE,TGA,llava_kmean=20_nrand=4,5.046530,2202
91,version_32,cifar20,URE,TNN,uniform,0.146145,1126
92,version_33,cifar20,URE,TNN,uniform,0.156962,42
117,version_7,cifar20,URE,TGA,uniform,0.155997,42
126,version_8,cifar20,URE,TGA,uniform,0.161202,1126
132,version_9,cifar20,URE,TGA,uniform,0.166033,2202

== ('tiny200', 'CPE') (13 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
4,version_103,tiny200,CPE,I,uniform,1.903722,1126
5,version_104,tiny200,CPE,I,uniform,1.538373,2202
6,version_105,tiny200,CPE,I,uniform,1.566521,42
10,version_115,tiny200,CPE,I,uniform,1.566521,42
11,version_116,tiny200,CPE,I,uniform,1.903722,1126
12,version_117,tiny200,CPE,I,uniform,1.538373,2202
75,version_188,tiny200,CPE,T,uniform,1.119600,1126
76,version_189,tiny200,CPE,T,uniform,1.208640,42
77,version_19,tiny200,CPE,F,uniform,0.024862,42
78,version_190,tiny200,CPE,T,uniform,1.234490,2202
123,version_75,tiny200,CPE,F,uniform,1.931871,1126
124,version_76,tiny200,CPE,F,uniform,2.373621,42
125,version_77,tiny200,CPE,F,uniform,2.361558,2202

== ('tiny200', 'FWD') (3 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
94,version_45,tiny200,FWD,NL,uniform,0.023076,42
95,version_46,tiny200,FWD,NL,uniform,0.023909,2202
96,version_47,tiny200,FWD,NL,uniform,0.020295,1126

== ('tiny200', 'URE') (5 rows) ==

,version,dataset,strategy,strategy_type,transition_matrix,best_test_acc,seed
115,version_68,tiny200,URE,TNN,uniform,0.005543,42
116,version_69,tiny200,URE,TNN,uniform,0.005923,1126
118,version_70,tiny200,URE,TNN,uniform,0.006531,2202
119,version_71,tiny200,URE,TGA,uniform,0.005067,1126
120,version_72,tiny200,URE,TGA,uniform,0.005566,2202